openapi: 3.2.0
info:
  title: Rekor Index API
  description: Rekor is a cryptographically secure, immutable transparency log for signed software releases.
  version: 1.0.0
servers:
- url: http://rekor.sigstore.dev
tags:
- name: index
paths:
  /api/v1/index/retrieve:
    post:
      summary: Searches index by entry metadata
      description: 'EXPERIMENTAL - this endpoint is offered as best effort only and may be changed or removed in future releases.

        The results returned from this endpoint may be incomplete.

        '
      deprecated: true
      operationId: searchIndex
      tags:
      - index
      responses:
        200:
          description: Returns zero or more entry UUIDs from the transparency log based on search query
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: Entry UUID in transparency log
                  pattern: ^([0-9a-fA-F]{64}|[0-9a-fA-F]{80})$
        400:
          $ref: '#/components/responses/BadContent'
        default:
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchIndex'
        required: true
components:
  schemas:
    SearchIndex:
      type: object
      properties:
        email:
          type: string
          format: email
        publicKey:
          type: object
          properties:
            format:
              type: string
              enum:
              - pgp
              - x509
              - minisign
              - ssh
              - tuf
            content:
              type: string
              format: byte
          required:
          - format
        hash:
          type: string
          pattern: ^(sha512:)?[0-9a-fA-F]{128}$|^(sha256:)?[0-9a-fA-F]{64}$|^(sha1:)?[0-9a-fA-F]{40}$
        operator:
          type: string
          enum:
          - and
          - or
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
  responses:
    InternalServerError:
      description: There was an internal error in the server while processing the request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadContent:
      description: The content supplied to the server was invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
