swagger: '2.0'
info:
  title: Fulcio CA index API
  version: 2.0.0
  contact:
    name: sigstore Fulcio project
    url: https://github.com/sigstore/fulcio
    email: sigstore-dev@googlegroups.com
  license:
    name: Apache License 2.0
    url: https://github.com/sigstore/fulcio/blob/main/LICENSE
host: fulcio.sigstore.dev
schemes:
- http
consumes:
- application/json
produces:
- application/json
tags:
- name: index
paths:
  /api/v1/index/retrieve:
    post:
      summary: Searches index by entry metadata
      description: 'EXPERIMENTAL - this endpoint is offered as best effort only and may be changed or removed in future releases.

        The results returned from this endpoint may be incomplete.

        '
      deprecated: true
      operationId: searchIndex
      tags:
      - index
      parameters:
      - in: body
        name: query
        required: true
        schema:
          $ref: '#/definitions/SearchIndex'
      responses:
        200:
          description: Returns zero or more entry UUIDs from the transparency log based on search query
          schema:
            type: array
            items:
              type: string
              description: Entry UUID in transparency log
              pattern: ^([0-9a-fA-F]{64}|[0-9a-fA-F]{80})$
        400:
          $ref: '#/responses/BadContent'
        default:
          $ref: '#/responses/InternalServerError'
definitions:
  Error:
    type: object
    properties:
      code:
        type: integer
      message:
        type: string
  SearchIndex:
    type: object
    properties:
      email:
        type: string
        format: email
      publicKey:
        type: object
        properties:
          format:
            type: string
            enum:
            - pgp
            - x509
            - minisign
            - ssh
            - tuf
          content:
            type: string
            format: byte
        required:
        - format
      hash:
        type: string
        pattern: ^(sha512:)?[0-9a-fA-F]{128}$|^(sha256:)?[0-9a-fA-F]{64}$|^(sha1:)?[0-9a-fA-F]{40}$
      operator:
        type: string
        enum:
        - and
        - or
responses:
  BadContent:
    description: The content supplied to the server was invalid
    schema:
      $ref: '#/definitions/Error'
  InternalServerError:
    description: There was an internal error in the server while processing the request
    schema:
      $ref: '#/definitions/Error'
externalDocs:
  description: More about Fulcio
  url: https://github.com/sigstore/fulcio
