openapi: 3.2.0
info:
  title: Rekor Tlog API
  description: Rekor is a cryptographically secure, immutable transparency log for signed software releases.
  version: 1.0.0
servers:
- url: http://rekor.sigstore.dev
tags:
- name: tlog
paths:
  /api/v1/log:
    get:
      summary: Get information about the current state of the transparency log
      description: Returns the current root hash and size of the merkle tree used to store the log entries.
      operationId: getLogInfo
      tags:
      - tlog
      responses:
        200:
          description: A JSON object with the root hash and tree size as properties
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogInfo'
        default:
          $ref: '#/components/responses/InternalServerError'
  /api/v1/log/proof:
    get:
      summary: Get information required to generate a consistency proof for the transparency log
      description: Returns a list of hashes for specified tree sizes that can be used to confirm the consistency of the transparency log
      operationId: getLogProof
      tags:
      - tlog
      parameters:
      - in: query
        name: firstSize
        description: 'The size of the tree that you wish to prove consistency from (1 means the beginning of the log) Defaults to 1 if not specified

          '
        schema:
          type: integer
          default: 1
          minimum: 1
      - in: query
        name: lastSize
        required: true
        description: The size of the tree that you wish to prove consistency to
        schema:
          type: integer
          minimum: 1
      - in: query
        name: treeID
        description: The tree ID of the tree that you wish to prove consistency for
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        200:
          description: All hashes required to compute the consistency proof
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsistencyProof'
        400:
          $ref: '#/components/responses/BadContent'
        default:
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    BadContent:
      description: The content supplied to the server was invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: There was an internal error in the server while processing the request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    ConsistencyProof:
      type: object
      properties:
        rootHash:
          type: string
          description: The hash value stored at the root of the merkle tree at the time the proof was generated
          pattern: ^[0-9a-fA-F]{64}$
        hashes:
          type: array
          items:
            type: string
            description: SHA256 hash value expressed in hexadecimal format
            pattern: ^[0-9a-fA-F]{64}$
      required:
      - rootHash
      - hashes
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
    InactiveShardLogInfo:
      type: object
      properties:
        rootHash:
          type: string
          description: The current hash value stored at the root of the merkle tree
          pattern: ^[0-9a-fA-F]{64}$
        treeSize:
          type: integer
          description: The current number of nodes in the merkle tree
          minimum: 1
        signedTreeHead:
          type: string
          format: signedCheckpoint
          description: The current signed tree head
        treeID:
          type: string
          description: The current treeID
          pattern: ^[0-9]+$
      required:
      - rootHash
      - treeSize
      - signedTreeHead
      - treeID
    LogInfo:
      type: object
      properties:
        rootHash:
          type: string
          description: The current hash value stored at the root of the merkle tree
          pattern: ^[0-9a-fA-F]{64}$
        treeSize:
          type: integer
          description: The current number of nodes in the merkle tree
          minimum: 1
        signedTreeHead:
          type: string
          format: signedCheckpoint
          description: The current signed tree head
        treeID:
          type: string
          description: The current treeID
          pattern: ^[0-9]+$
        inactiveShards:
          type: array
          items:
            $ref: '#/components/schemas/InactiveShardLogInfo'
      required:
      - rootHash
      - treeSize
      - signedTreeHead
      - treeID
